<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Welcome {{bogara}} to our App</h2>
    <ul>
        <li>About</li>
        <li>Home</li>
        <li>Contact</li>
    </ul>
    
</body>
</html>